/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style sheet for my project 2. Added CSS code. */

/* Navigation CSS layout for all of the pages */

.navigation {
  background-color: #0000FF;
  position: relative;
  width: 100%;
  top: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.navigation ul li {
  float: left;
}

.navigation ul li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  color: #CC0000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Agency FB, serif;
}

.navigation ul li a:hover {
  background-color: #FFFF99;
  color: #CC6600;
}

.myheader {
  font-family: 'Bernard MT', serif;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}
body {
    background-color: lightblue;
}

h1 {
    color: green;
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: Bernard MT, serif;
} 
h2 {
    font-size: 30px;
    color: #CC0000;
}
#intend {
    color: black;
    text-align: center;
    padding: 5px;
}
#background_info {
    font-family: Bernard MT, serif;
    display: block;
    background-color: #CCE5FF;
    font-size: 20px;
    color: #CC0000;
    text-align: center;
}
#first_encounter_www {
    font-family: Bernard MT, serif;
    display: block;
    background-color: #CCE5FF;
    font-size: 20px;
    color: #CC0000;
    text-align: center;
}
#dominican_rep {
    position: relative;
    margin: auto;
    padding: 2px;
}
p {
    color: darkred;
    text-align: center;
    padding: 30px;
}
img {
    display: block;
    margin: auto;
    width: 20%;
}
div.gallery {
    margin: 8px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 20px;
    text-align: center;
}
