/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style sheet for my project 2. Added CSS code. */

/* Navigation CSS layout for all of the pages */

.navigation {
  background-color: #0F5EB7;
  position: fixed;
  text-align: center;
  z-index: 10;
  width: 100%;
  top: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.navigation ul {
  position: relative;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.navigation ul li {
  float: left;
}

.navigation ul li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  color: #CC0000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Agency FB", serif;
}

.navigation ul li a:hover {
  background-color: #FFFF99;
  color: #CC6600;
}

body {
    background-color: #CCCDCE;
}

h1 {
    color: green;
    text-align: center;
    margin-top: 80px;
    padding: 14px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Bernard MT", serif;
} 
h2 {
    padding: 6px;
    text-align: center;
    font-size: 30px;
    color: #CC0000;
    border: 2px solid #0AC4E1;
    border-radius: 5px;
}
h3 {
    font-weight: bold;
    margin-left: 40px;
    font-size: 
h4 {
    border-style: inset;
    border-width: 4px;
    padding: 10px;
    font-size: 15px;
}
footer {
	position: fixed;
	right: 30px;
	left: 30px;
	bottom: 0;
	display: block;
	height: 35px;
	padding: 5px;
	text-align: center;
	color: #CC0000;
	background-color: #0F5EB7;
}
footer:hover {
  background-color: #FFFF99;
  color: #CC6600;
}
	
div.intend {
    color: black;
    text-align: center;
    padding: 5px;
}
div.mailto {
    position: relative;
    text-align: center;
    padding: 5px;
    text-color: green;
}
#contact info {
    text-align: center;
    padding: 0;
}
#background_info {
    font-family: "Bernard MT", serif;
    display: block;
    background-color: #CCDEBE;
    font-size: 20px;
    color: #120B80;
    text-align: center;
}
#first_encounter_www {
    font-family: "Bernard MT", serif;
    display: block;
    background-color: #CCDEBE;
    font-size: 20px;
    color: #120B80;
    text-align: center;
}
#cancun {
    margin-top: 40px;
    position: relative;
    float: left;
}
#dominican_rep {
    margin-top: 40px;
    position: relative;
    float: right;
}
#skills {
    text-align: center;
    color: #120B80;
    padding: 20px;
    font-family: "Bernard MT", serif;
    font-size: 20px;
}
div.w3c {
    position: relative;
    float: left;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.w3cpic {
	position: absolute;
	border: 0;
	margin-top: 0;
	margin-left: 10px;
	width: 60px;
	height: 21px;
}
p {
    color: #120B80;
    text-align: center;
    padding: 30px;
}
img {
    display: block;
    margin: auto;
    width: 20%;
}
div.gallery {
    margin: 8px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 20px;
    text-align: center;
}
